<html>
  <head>
    <title>Login</title>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/css/todo.css">
  </head>
  <body>
    <div class="container">
      <%- include('../partials/nav'); %>
      <div class="row">
        <h2>Hi <%= name%></h2>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div id="add-todo">
            <input type="text" class="form-control" id="addNewTodo" placeholder="Add a new todo here..." />
            <button class="btn btn-primary">Add</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered" id="todoList">
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
